In [1]:
#import all required packages for this mini project
import requests
import os
import pandas as pd
import json
from pprint import pprint
import numpy as np

In [2]:
#accessing keys stored in local machine
foursquare_id = os.environ["foursquare_id"]
foursquare_secret = os.environ["foursquare_secret"]

In [41]:
#call api searching only food places near Calgary, AB within a 500 meter radius
calg = requests.get(f'https://api.foursquare.com/v2/venues/search?client_id={foursquare_id}&client_secret={foursquare_secret}&near=Calgary,Alberta&v=20210602&radius=500&categoryId=4d4b7105d754a06374d81259')

In [62]:
res = calg.json()

In [149]:
#checking data to visualize what I am looking for
res['response']['venues'][0]

{'id': '5c454d23d48ec1002c183a45',
 'name': 'Namsun Korean Cuisine',
 'location': {'address': '507 10 St SW',
  'crossStreet': '5th Ave SW',
  'lat': 51.0487,
  'lng': -114.08628,
  'labeledLatLngs': [{'label': 'display', 'lat': 51.0487, 'lng': -114.08628}],
  'postalCode': 'T2P 2B8',
  'cc': 'CA',
  'city': 'Calgary',
  'state': 'AB',
  'country': 'Canada',
  'formattedAddress': ['507 10 St SW (5th Ave SW)',
   'Calgary AB T2P 2B8',
   'Canada']},
 'categories': [{'id': '4bf58dd8d48988d113941735',
   'name': 'Korean Restaurant',
   'pluralName': 'Korean Restaurants',
   'shortName': 'Korean',
   'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/korean_',
    'suffix': '.png'},
   'primary': True}],
 'referralId': 'v-1622739353',
 'hasPerk': False}

In [93]:
#api request to call more data of a particular food place using id as a parameter
calg2 = requests.get(f'https://api.foursquare.com/v2/venues/4b6c7abef964a520763d2ce3?v=20210602&client_id={foursquare_id}&client_secret={foursquare_secret}')
calg2

In [182]:
#checking to see how to find rating values
res2 = calg2.json()
res2['response']['venue']['rating']

4.7

In [159]:
#testing for loop to access every individual food place
for key in res['response']['venues']:
    print(key['name'])

Namsun Korean Cuisine
Great Canadian Pizza
McDonald's
Deville
Indie Counterculture
Buchanan's
Vienna Lux
Blue Nile
Yuga - Traditional Indian Kitchen & Bar
Don Day
Tastebuds & Co.
Freshii
Alforno Bakery & Cafe
Cotto -Italian Kitchen
Tea Bubz
Burger 320
Pizza On The Fly
Great Canadian Pizza
The Big Cheese Poutinerie
Quesada @ Nexen
Hayden Block
Peppino
Osteria de Medici Restaurant
Second Cup
Blanco Cantina
Subway
Wok n Roll Bistro
Lunch Today

In [ ]:
#ran out of premium requests
#as it is, api calls for premium features like a rating of a store is limited to 50 per day
#not completely sure if this for loop prints out only rating as it iterates through
for key in res['response']['venues']:
    id_ = key['id']
    calg3 = requests.get(f'https://api.foursquare.com/v2/venues/{id_}?v=20210602&client_id={foursquare_id}&client_secret={foursquare_secret}')
    res3 = calg3.json()
    print(res3['response']['venue']['rating'])

In [187]:
#create an empty dictionary and append food place names using for loop
calg_4sq = {'name': []}
for key in res['response']['venues']:
    calg_4sq['name'].append(key['name'])

In [190]:
#manually inserted ratings data from manual reading
calg_4sq['rating'] = [np.nan, np.nan, 4.7, np.nan, np.nan, 8.6, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, 8.5, np.nan, np.nan, np.nan, np.nan, np.nan, 7.3, np.nan, 8.4, 8.3, 7.8, 6, np.nan, 6.3, np.nan, np.nan]

In [195]:
#turn created dictionary into dataframe
#sorted by ascending to visualize highest rated food place
df_4sq = pd.DataFrame(calg_4sq)
df_4sq.sort_values(by='rating', ascending=False)

                                       name  rating
5                                Buchanan's     8.6
12                    Alforno Bakery & Cafe     8.5
20                             Hayden Block     8.4
21                                  Peppino     8.3
22             Osteria de Medici Restaurant     7.8
18                The Big Cheese Poutinerie     7.3
25                                   Subway     6.3
23                               Second Cup     6.0
2                                McDonald's     4.7
0                     Namsun Korean Cuisine     NaN
1                      Great Canadian Pizza     NaN
3                                   Deville     NaN
4                      Indie Counterculture     NaN
6                                Vienna Lux     NaN
7                                 Blue Nile     NaN
8   Yuga - Traditional Indian Kitchen & Bar     NaN
9                                   Don Day     NaN
10                          Tastebuds & Co.     NaN
11                                  Freshii     NaN
13                   Cotto -Italian Kitchen     NaN
14                                 Tea Bubz     NaN
15                               Burger 320     NaN
16                         Pizza On The Fly     NaN
17                     Great Canadian Pizza     NaN
19                          Quesada @ Nexen     NaN
24                           Blanco Cantina     NaN
26                        Wok n Roll Bistro     NaN
27                              Lunch Today     NaN

In [4]:
#accessing keys stored in local machine
yelp_id = os.environ["yelp_id"]
yelp_secret = os.environ["yelp_secret"]

In [93]:
#since yelp does not use authorization as a param, must use as header
#search params are in location Calgary, AB within a 500 meter radius and looking only for food places
url = 'https://api.yelp.com/v3/businesses/search?location=Calgary,Alberta&radius=500&term=food'
header = {'Authorization':f'Bearer {yelp_secret}'}

In [94]:
caly = requests.get(url, headers=header)

In [95]:
resy = caly.json()

In [96]:
#for loop to check iterations of food place names
for key in resy['businesses']:
    print(key['name'])

Pho Daddy
Chicago Deep Dish Pizza
Milk Tiger Lounge
Shawarma House
Native Tongues Taqueria
Model Milk
Element Cafe
Banh Mi Thai Tai
Burger Inn
European Bakery & Deli
JINYA Ramen Bar - Calgary
Ricardo's Hideaway
Calcutta Cricket Club
Pigot's Burger Club
Gringo Street
Mix Grill Shawarma
The Beltliner
Pigeonhole
UNA Pizza + Wine
Cleaver

In [56]:
#for loop to check iterations of food place ratings
for key in resy['businesses']:
    print('rating')

3.5
5.0
2.0
4.5
4.0
4.0
4.0
5.0
4.0
4.0
3.5
4.0
3.5
5.0
4.0
4.0
5.0
3.0
3.5
4.0

In [58]:
#for loop to check iterations of the number of reviews the food place received on yelp
for key in resy['businesses']:
    print(key['review_count'])

28
32
16
54
359
51
235
1
48
49
134
22
78
2
10
1
1
54
162
348

In [62]:
#create empty dictionary with nested lists
yelp_dict = {'name': [],
            'rating': [],
            'review_count': []}

In [63]:
#appending name, rating, and review count into nested lists
for key in resy['businesses']:
    yelp_dict['name'].append(key['name'])

In [64]:
for key in resy['businesses']:
    yelp_dict['rating'].append(key['rating'])

In [65]:
for key in resy['businesses']:
    yelp_dict['review_count'].append(key['review_count'])

In [80]:
#create dataframe from created dictionary and listed all values in order of rating first, review count second
df_yelp = pd.DataFrame(yelp_dict)
df_yelp.sort_values(by=['rating', 'review_count'], ascending=False)

                          name  rating  review_count
1       European Bakery & Deli     5.0            32
13         Pigot's Burger Club     5.0             2
7                 Element Cafe     5.0             1
16          Mix Grill Shawarma     5.0             1
3               Shawarma House     4.5            54
4      Native Tongues Taqueria     4.0           359
19            UNA Pizza + Wine     4.0           348
6                   Model Milk     4.0           235
5            Milk Tiger Lounge     4.0            51
9                   Burger Inn     4.0            49
8             Banh Mi Thai Tai     4.0            48
11          Ricardo's Hideaway     4.0            22
14  Amaranth 4th Street Market     4.0            10
15               Juice Because     4.0             1
18               The Beltliner     3.5           162
10   JINYA Ramen Bar - Calgary     3.5           134
12       Calcutta Cricket Club     3.5            78
0                    Pho Daddy     3.5            28
17               Gringo Street     3.0            54
2      Chicago Deep Dish Pizza     2.0            16

In [81]:
#dropped inaccurate data of food places with low amounts of review counts
yelp_less = df_yelp[df_yelp['review_count'] < 5].index
yelp_less

Int64Index([7, 13, 15, 16], dtype='int64')

In [84]:
df_yelp.drop(yelp_less).sort_values(by=['rating', 'review_count'], ascending=False)

                          name  rating  review_count
1       European Bakery & Deli     5.0            32
3               Shawarma House     4.5            54
4      Native Tongues Taqueria     4.0           359
19            UNA Pizza + Wine     4.0           348
6                   Model Milk     4.0           235
5            Milk Tiger Lounge     4.0            51
9                   Burger Inn     4.0            49
8             Banh Mi Thai Tai     4.0            48
11          Ricardo's Hideaway     4.0            22
14  Amaranth 4th Street Market     4.0            10
18               The Beltliner     3.5           162
10   JINYA Ramen Bar - Calgary     3.5           134
12       Calcutta Cricket Club     3.5            78
0                    Pho Daddy     3.5            28
17               Gringo Street     3.0            54
2      Chicago Deep Dish Pizza     2.0            16